.boxes-container {
  display: grid;
  grid-template-columns: (233px 233px);
  grid-gap: 0px;
  /*min-width: 1000px;*/
  max-width: 1250px;
  min-width: 1250px;
  margin: 0 auto;
  margin-top: 0px;
  margin-left: 0px;
  /*position: relative;*/
}

.box1 {
  grid-row: 1;
  width: 469px;
  height: 233px;
  background-color: #0097A7;
  /*position: relative;*/
}

.box2 {
  grid-column: 2;
  grid-row: 1;
  height: 233px;
  width: 233px;
  background-color: #CFD8DC;
  margin-left: -72px;
  /*position: relative;*/
}

.box3 {
  grid-column: 1;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #607D8B;
  margin-top: -470px;
  /*position: relative;*/
}

.box4 {
  grid-column: 2;
  margin-left: -308px;
  margin-top: -470px;
  grid-row: 2;
  height: 233px;
  width: 236px;
  background-color: #B2EBF2;
  /*position: relative;*/
}

.box5 {
  grid-column: 3;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #0097A7;
  margin-left: -305px;
  margin-top: -470px;
  /*position: relative;*/
}

.box6 {
  grid-column: 1;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-top: -237px;
  /*position: relative;*/
}

.box7 {
  grid-column: 2;
  margin-left: -308px;
  margin-top: -237px;
  grid-row: 3;
  height: 233px;
  width: 236px;
  background-color: #607D8B;
  /*position: relative;*/
}

.box8 {
  grid-column: 3;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-left: -305px;
  margin-top: -237px;
  /*position: relative;*/
}


.text {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: transparent;
  font-family: 'Amatic SC', cursive;
}

.icons {
  height: 80px;
  width: 80px;
}


.click:hover {
  cursor: pointer;
   text-shadow: 2px 2px 2px #212121;
}


#picture {
  height: 699px;
  grid-column: 4;
  grid-row: 1;
  margin-left: -72px;
  /*position: absolute;*/
}

.picture-container {
  position: relative;
}
#left-arrow {
  height: 50px;
  width: 50px;
  grid-column: 4;
  grid-row: 1;
  position: absolute;
  margin-top: 310px;
  margin-left: -55px;
}

#right-arrow{
  height: 50px;
  width: 50px;
  grid-column: 4;
  grid-row: 1;
  position: absolute;
  margin-top: 310px;
  margin-left: -72px;
}

