.boxes-container {
  display: grid;
  grid-template-columns: (233px 233px);
  grid-gap: 0px;
  max-width: 1250px;
  min-width: 1250px;
  margin: 0 auto;
  margin-top: 0px;
  margin-left: 0px;
 
}

.box1 {
  grid-row: 1;
  width: 469px;
  height: 233px;
  background-color: #0097A7;
  
}

.box2 {
  grid-column: 2;
  grid-row: 1;
  height: 233px;
  width: 233px;
  background-color: #CFD8DC;
  margin-left: -72px;
 
}

.box3 {
  grid-column: 1;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #607D8B;
  margin-top: -470px;
  
}

.box4 {
  grid-column: 2;
  margin-left: -308px;
  margin-top: -470px;
  grid-row: 2;
  height: 233px;
  width: 236px;
  background-color: #B2EBF2;
  
}

.box5 {
  grid-column: 3;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #0097A7;
  margin-left: -305px;
  margin-top: -470px;
  
}

.box6 {
  grid-column: 1;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-top: -237px;
  
}

.box7 {
  grid-column: 2;
  margin-left: -308px;
  margin-top: -237px;
  grid-row: 3;
  height: 233px;
  width: 236px;
  background-color: #607D8B;
 
}

.box8 {
  grid-column: 3;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-left: -305px;
  margin-top: -237px;
  
}


.text {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: transparent;
  font-family: 'Amatic SC', cursive;
}

.icons {
  height: 80px;
  width: 80px;
}


.click:hover {
  cursor: pointer;
   text-shadow: 2px 2px 2px #212121;
}


#picture {
  height: 699px;
  grid-column: 4;
  grid-row: 1;
  margin-left: -72px;
  
}

.picture-container {
  position: relative;
}
#left-arrow {
  height: 50px;
  width: 50px;
  grid-column: 4;
  grid-row: 1;
  position: absolute;
  margin-top: 310px;
  margin-left: -55px;
}

#right-arrow{
  height: 50px;
  width: 50px;
  grid-column: 4;
  grid-row: 1;
  position: absolute;
  margin-top: 310px;
  margin-left: -72px;
}


@media screen and (max-width: 800px) {
.boxes-container: {
   grid-template-columns: (100px 100px);
}

.box1 {
  grid-row: 1;
  width: 90%;
  height: 233px;
  background-color: #0097A7;
  margin-top: 0%;
}

.box2 {
 
  height: 233px;
  width: 79%;
  margin-top: 0%;
 
 }

 .box3 {
  margin-top: -404px;
  height: 200px;
  width: 260px;
 }

 .box4 {
  margin-top: -404px;
  height: 200px;
  width: 260px;
  margin-left: -330px;
 }

 .box5 {
  margin-top: -8px;
    height: 200px;
    width: 388px;
    margin-left: -923px;
 }

 .box6 {
  margin-top: -396px;
  margin-left: 0px;
  height: 200px;
  width: 260px;
 }

 .box7 {
  margin-left: -330px;
  width: 260px;
  height: 200px;
  margin-top: -396px;
 }

.box8 {
  margin-top: -196px;
  height: 198px;
  width: 392px;
  margin-left: -535px;
}

#picture {
  height: 400px;
  margin-left: -403px;
  margin-top: 233px;
  width: 262px;
}

#right-arrow {
  margin-top: 409px;
  height: 33px;
  width: 59px;
  margin-left: -61px;
}

#left-arrow {
  margin-top: 409px;
  height: 33px;
  width: 59px;
  margin-left: -399px;
}

.icons {
  height: 60px;
  width: 60px;
  margin-top: 15px;
}

.text {
  font-size: 25px;
}

}
