.boxes-container {
  display: grid;
  grid-template-columns: (233px 233px);
  grid-gap: 0px;
  /*min-width: 1000px;*/
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 0px;
  margin-left: 0px;
}

.box1 {
  grid-row: 1;
  width: 469px;
  height: 233px;
  background-color: #0097A7;
}

.box2 {
  grid-column: 2;
  grid-row: 1;
  height: 233px;
  width: 233px;
  background-color: #212121;
  margin-left: -80px;
}

.box3 {
  grid-column: 1;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #607D8B;
  margin-top: -466px;
}

.box4 {
  grid-column: 2;
  margin-left: -315px;
  margin-top: -466px;
  grid-row: 2;
  height: 233px;
  width: 236px;
  background-color: #B2EBF2;
}

.box5 {
  grid-column: 3;
  grid-row: 2;
  height: 233px;
  width: 233px;
  background-color: #0097A7;
  margin-left: -310px;
  margin-top: -466px;
}

.box6 {
  grid-column: 1;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-top: -233px;
}

.box7 {
  grid-column: 2;
  margin-left: -315px;
  margin-top: -233px;
  grid-row: 3;
  height: 233px;
  width: 236px;
  background-color: #607D8B;
}

.box8 {
  grid-column: 3;
  grid-row: 3;
  height: 233px;
  width: 233px;
  background-color: #B2EBF2;
  margin-left: -310px;
  margin-top: -233px;
}

#picture {
  height: 699px;
  grid-column: 4;
  grid-row: 1;
  margin-left: -155px;
}

.text {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: transparent;
  font-family: 'Amatic SC', cursive;
}

.icons {
  height: 80px;
  width: 80px;
}

/*.icons:hover {
  cursor: pointer;
}*/

/*.text:hover {
  cursor: pointer;
}*/

.click:hover {
  cursor: pointer;
   text-shadow: 2px 2px 2px #FFFFFF;
}

